bin
*.koi
MySql2McKoi/log
BabyDog/log
PhenoChiot/sql/phenochiot.sql
PhenoChiot/*.log
*-src.zip
play-fwklogs
tmp
logs
modules
play-*
test-result
babydog-play/.classpath
babydog-play/.project
babydog-play/.settings
babydog-play/eclipse
babydog-play/.scala_dependencies
